DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sast_shop_v2

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

FEISHU_APP_ID=your_feishu_app_id
FEISHU_APP_SECRET=your_feishu_app_secret
FEISHU_REDIRECT_URL=

APP_ENV=development
USER_SERVICE_URL=http://localhost
USER_SERVICE_PORT=1323
CATALOG_SERVICE_URL=http://localhost
CATALOG_SERVICE_PORT=1324
PAYMENT_SERVICE_URL=http://localhost
PAYMENT_SERVICE_PORT=1325
SPOT_SERVICE_URL=http://localhost
SPOT_SERVICE_PORT=1326
ERRAND_SERVICE_URL=http://localhost
ERRAND_SERVICE_PORT=1327